body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


a:link, a:visited {
    color:black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.contentContainer {
    display: flex;
    background: #e8e8ee;
}

.movieItemContent {
    padding: 0 20px;
}

.navbar-light .navbar-brand {
  padding-left: 5px;
}

.fa, .fa-share-alt {
  color: #4db6ac;
  font-size: 32px;
}

.panel-heading.c-list {
  background:#E8E8EE;
}

.col-sm-7 {
  margin: 0 auto;
  padding-top: 50px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.flexContainer {
  display: flex;
  width: 100%;
}

.inputField {
  flex: 1;
}

@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
    padding: 5px 0 5px 15px;
}

.nav {
    background-color: #4db6ac;
}

.popcorn {
    margin-bottom: 5px;
}

.movie_card{
    position: relative;
    display: block;
    width: 820px;
    height: 450px;
    /* position:absolute; 
    left:0; right:0;
    top:0; bottom:0; */
    margin:auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
  }

.info_section{
    position: relative;
    width: 60%;
    float: right;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}

.movie_header{
    position: relative;
    padding: 25px;
    height: 40%;
}

h1{
    color: black;
    font-weight: 400;
}
h4{
    color: #555;
    font-weight: 400;
}

.minutes{
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
}

.type{
    display: inline-block;
    color: #959595;
    margin-left: 10px;
}

.poster {
    height: 100%;
}


.movie_desc{
    padding: 25px;
    height: 50%;
}


.movie_social{
    bottom: 0;
    left: 0;
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.stars {
    position: absolute;
    right: 10px;
    bottom: -40px;
    width: 150px;
}

.hidden {
    display: none;
}
