body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

a:link, a:visited, a:hover {
    color:black;
    text-decoration: none;
}

/* Nav Bar Cass */
.nav_bar {
    -webkit-box-shadow: 0 2px 2px -2px #999;
    -moz-box-shadow: 0 2px 2px -2px #999;
    box-shadow: 0 2px 2px -2px #999;
}

/* List page CSS */

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.item_content {
    padding: 0 20px;
}

.fa, .fa-share-alt {
  color: #4db6ac;
  font-size: 32px;
}

.movie_list_title {
  background:#4db6ac;
  border-radius: 0;
}

.col {
  margin: 0 auto;
  padding-top: 50px;
}

@media only screen and (max-width: 600px) {
    .col {
        max-width: none;
        flex: none;
    }
}

.flex_container {
  display: flex;
  width: 100%;
}

.title_text {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 0 15px;
    margin-top: 10px;
}


/* Detail Content Page CSS */
.movie_card{
    display: block;
    width: 1000px;
    height: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin:auto;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
}

.info_section{
    position: relative;
    width: 60%;
    float: right;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    overflow: auto;
}

.content_header{
    position: relative;
    padding: 25px;
    height: 35%;
}

h1 {
    color: black;
    font-weight: 400;
}

h4 {
    color: #555;
    font-weight: 400;
}

.minutes{
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
}

.type {
    display: inline-block;
    color: #959595;
    margin-left: 10px;
}

.content_poster {
    height: 100%;
    max-width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.movie_desc {
    padding: 25px;
    height: 50%;
    font-size: 14px;
}

.content_title {
    width: 80%;
}

.movie_score {
    bottom: 0;
    left: 0;
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.stars {
    position: absolute;
    top: -30px;
    right: 15px;
    width: 150px;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 780px) {
    .movie_card {
        max-height: 425px;
        width: 100%
    }
}

@media only screen and (max-width: 600px) {
    .content_poster {
        height: auto;
        width: auto;
        border-bottom-left-radius: 0;
    }

    .content_title {
        font-size: 28px;
    }

    .content_detail {
        font-size: 16px;
    }

    .minutes, .type {
        font-size: 12px;
    }

    .stars {
        display: none;
    }
}

